autostart
BraveSoftware
chromium
coc
compton.conf
configstore
dconf
dunst
dwm
Electron
figma-linux
fontconfig
frankenwm
gconf
google-chrome
gtk-2.0
gtk-3.0
htop
iridium
Kvantum
libreoffice
lxterminal
manjaro
menus
mimeapps.list
MongoDB Compass
Mousepad
nitrogen
nomacs
nvim-qt
pamac
pavucontrol.ini
Postman
powerkit
procps
pulse
qt5ct
QtProject.conf
React Native Debugger
rofi
Skype
skypeforlinux
terminator
Thunar
Trolltech.conf
turtl
Turtl
Unknown Organization
vlc
volumeicon
xfce4
yabar
zoomus.conf
